@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .mask-fade {
        mask-image: linear-gradient(to right, transparent, black 10px, black 90%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 10px, black 90%, transparent);
    }
}